<h1>Editing blog</h1>

<table style="width:500px">
	<tr>
		<td>
			<%= render 'form' %>
		</td>
		<td>
			<h3>Add a tag</h3>
			<%= render 'tags/form' %>
		</td>
	</tr>
</table>

<br>
<hr/><h5>Tags: </h5> <% @blog.tags.each do |tag| %>
<span class="tag-box"><%= tag.title %><%= link_to ' x ', tag, method: :delete, data: { confirm: 'Are you sure?' } %></span>

<% end %>

<hr/>
<br>

<%= link_to 'Show', @blog %> |
<%= link_to 'Back', blogs_path %>
